{% extends 'base.html' %}

{% load static %}

{% block css %} <link rel="stylesheet" href="{% static 'css7/style.css' %}"> {% endblock %}
{% block js %} <script src="{% static 'js/script.js' %}"></script> {% endblock %}
{% block link %} 
<link rel="shourcut icon" href="{% static 'images/favicon.png' %}" type="icon/png"> 
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
{% endblock %}
{% block title %} Google Clone {% endblock %}

{% block content %}


<header>
    {% if request.user.is_authenticated %}

    <div class="container">
      <input id="checkbox" name="checkbox" type="checkbox">
      <label class="label" for="checkbox">
                </label>
    
    </div>
    

    <span class="username">
        <a title="Logout" href="{% url 'logout' %}" class="avatar">
          <img class="avatar" src="{{ request.user.profile.avatar.url }}" alt="Avatar">
        </a>
        <span class="username-text">{{ request.user.username }}</span>
      </span>

    {% else %}
        <span>
          <a class="username-text" href="{% url 'register' %}">Sign In</a>
      </span>


    {% endif %}
   
</header>

<div class="Page">
    <div class="title">
        <h1 class="Google">
            <span class="G">G</span>
            <span class="o">o</span>
            <span class="o2">o</span>
            <span class="g">g</span>
            <span class="l">l</span>
            <span class="e">e</span>
        </h1>
        <form action="{% url 'searchPage' %}" method="GET">
            {% if request.user.is_authenticated %}
                <a href="{% url 'chat' %}"><img class="imgBut" src="{% static 'images/chat_button.png' %}" alt=""></a>
            {% endif %}
            <input type="text" class="input" name="search" placeholder="Search the web">
            <button type="submit" class="enter"><img class="glass" src="{% static 'images/Magnifying-glass.png' %}" alt=""></button>
        </form>
    
</div>
{% endblock %}