{% extends 'base.html' %}
{% load static %}

{% block title %} Register {% endblock %}
{% block css %} <link rel="stylesheet" href="{% static 'css7/register.css' %}"> {% endblock %}
{% block link %} 
<link rel="shourcut icon" href="{% static 'images/favicon.png' %}" type="icon/png"> 
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" /> 
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

{% endblock %}

{% block content %}



<form class="form_container" method="POST">
    {% csrf_token %}
    <div class="logo_container"></div>
    <div class="title_container">
      <p class="title">Register you new Account</p>
      
    </div>
    <br>

    {% for field in form %}
    
    <div class="input_container">
        <label class="input_label">{{ field.label }}</label>
        <div class="input_field_container">
            {{ field }}
        </div>
        {% endfor %}
    </div>

    
    <button title="Reg" type="submit" class="sign-in_btn">
      <span>Create Account</span>
    </button>
  
    <div class="separator">
      <hr class="line">
      <span>Or</span>
      <hr class="line">
    </div>
      <svg height="18" width="18" viewBox="0 0 32 32" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
        <defs>
          <path d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z" id="A"></path>
        </defs>
        <clipPath id="B">
          
        </clipPath>
        <g transform="matrix(.727273 0 0 .727273 -.954545 -1.45455)">
          <path fill="#fbbc05" clip-path="url(#B)" d="M0 37V11l17 13z"></path>
          <path fill="#ea4335" clip-path="url(#B)" d="M0 11l17 13 7-6.1L48 14V0H0z"></path>
          <path fill="#34a853" clip-path="url(#B)" d="M0 37l30-23 7.9 1L48 0v48H0z"></path>
          <path fill="#4285f4" clip-path="url(#B)" d="M48 48L17 24l-4-3 35-10z"></path>
        </g>
      </svg>
    </button>
    <button title="Log In" type="submit" class="sign-in_apl" disabled>
      <p>If you have a profile: <a href="{% url 'login' %}">Sign In</a></p>
    </button>
    <p class="note">Terms of use &amp; Conditions</p>
  </form>

{% endblock %}
