{% extends 'base.html' %}
{% load static %}

{% block title %} {{query}} {% endblock %}
{% block css %} <link rel="stylesheet" href="{% static 'css7/search.css' %}"> {% endblock %}
{% block link %} <link rel="shourcut icon" href="{% static 'images/favicon-search.png' %}" type="icon/png"> {% endblock %}

{% block js %} 
    <script src="{% static 'js/script-search.js' %}"></script> 
{% endblock %}

{% block content %}

<header>
    <form action="{% url 'searchPage' %}" method="GET">
        <a href="{% url 'home' %}" class="home">
        <h1 class="Google">
            <span class="G">G</span>
            <span class="o">o</span>
            <span class="o2">o</span>
            <span class="g">g</span>
            <span class="l">l</span>
            <span class="e">e</span>
        </h1>
        </a>
        <input id="base" type="text" class="input" name="search" value="{{query}}" >
        <button type="submit" class="enter"><img class="glass" src="{% static 'images/Magnifying-glass.png' %}" alt=""></button>

        {% if request.user.is_authenticated %}

    
        <div class="user-account">
            <span class="username">
                <a title="Logout" href="{% url 'logout' %}" class="avatar">
                  <img class="avatar" src="{{ request.user.profile.avatar.url }}" alt="Avatar">
                </a>
                <span class="username-text">{{ request.user.username }}</span>
              </span>
            </div>
          
            {% else %}
            <div class="user-account">
                  <span class="username">
                    <a class="username-text" href="{% url 'register' %}">Sign In</a>
                </span>
            </div>
       
        
            {% endif %}
        
    </form>
</header>

<nav>
    <button class="btnThere">Search</button>
    <input id="ser" class="pageimages" type="text" name="searchVideos" value="{{query}}">
    <form action="{% url 'imagesPage' %}">
        <input id="img" class="pageimages" type="text" name="searchimg" value="{{query}}">
        <button class="btnNext">Images</button>
    </form> 
    <form action="{% url 'videosPage' %}">
        <input id="vid" class="pageimages" type="text" name="searchVideos" value="{{query}}">
        <button class="btnNext">Videos</button>
    </form>
    {% if request.user.is_authenticated %}
    <form action="{% url 'chat' %}">
        <button class="btnNext">Chat</button>
    </form>
    {% endif %}
</nav>

<hr>


<div class="results">
{% for items in res.items %}

    <div class="label">
        <img class="avatars" src="{{items.pagemap.cse_thumbnail.0.src}}" alt=""> 
        <span class="link">{{items.displayLink}}</span>
    </div>
    <a class="title" href="{{items.link}}" target="_blank">{{items.title}}</a>
    <p>{{items.snippet}}</p>
    <br>

{% endfor %}
</div>

{% endblock %}