{% extends 'base.html' %}
{% load static %}

{% block title %} {{query}} {% endblock %}
{% block css %} <link rel="stylesheet" href="{% static 'css7/search.css' %}"> {% endblock %}
{% block link %} <link rel="shourcut icon" href="{% static 'images/favicon-search.png' %}" type="icon/png"> {% endblock %}

{% block js %} 
    <script src="{% static 'js/script-search.js' %}"></script> 
{% endblock %}

{% block content %}

<header>
    <form action="{% url 'videosPage' %}" method="GET">
        <a href="{% url 'home' %}" class="home">
        <h1 class="Google">
            <span class="G">G</span>
            <span class="o">o</span>
            <span class="o2">o</span>
            <span class="g">g</span>
            <span class="l">l</span>
            <span class="e">e</span>
        </h1>
        </a>
        <input id="base" type="text" class="input" name="searchVideos" value="{{query}}" >
        <button type="submit" class="enter"><img class="glass" src="{% static 'images/Magnifying-glass.png' %}" alt=""></button>
    </form>

    {% if request.user.is_authenticated %}

    
    <div class="user-account">
        <span class="username">
            <a title="Logout" href="{% url 'logout' %}" class="avatar">
              <img class="avatar" src="{{ request.user.profile.avatar.url }}" alt="Avatar">
            </a>
            <span class="username-text">{{ request.user.username }}</span>
          </span>
      
        {% else %}
          <span>
            <a href="{% url 'register' %}">Sign In</a>
        </span>
    </div>
    
        {% endif %}
</header>

<nav>
    <form action="{% url 'searchPage' %}">
        <input id="ser" class="pageimages" type="text" name="search" value="{{query}}">
        <button class="btnNext">Search</button>
    </form> 
    <form action="{% url 'imagesPage' %}">
        <input id="img" class="pageimages" type="text" name="searchimg" value="{{query}}">
        <button class="btnNext">Images</button>
    </form>
    <button class="btnThere">Videos</button>
    <input id="vid" class="pageimages" type="text" name="searchVideos" value="{{query}}">
    <form action="{% url 'chat' %}">
        <button class="btnNext">Chat</button>
    </form>
</nav>

<hr>

<div class="videos">

{% for video in resVideos.items %}

<div class="video">
    <div class="preview">
        <a target="_blank" href="https://www.youtube.com/watch?v={{video.id.videoId}}"><img class="preview" src="{{video.snippet.thumbnails.high.url}}" alt=""></a>
    </div>
    <div class="details">
        <a target="_blank" href="https://www.youtube.com/watch?v={{video.id.videoId}}">{{video.snippet.title}}</a>
      <div class="description">
        <p>{{video.snippet.description}}</p>
        <p class="channel">{{video.snippet.channelTitle}}</p>
      </div>
    </div>
  </div>

{% endfor %}

</div>

{% endblock %}