@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header {
    background-color: #ffffff;
    height: 100px;
}

.home {
    text-decoration: none;
}

.Google span {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.Google {
    margin-left: 30px;
    margin-right: 20px;

}

.G {
    color: rgb(38, 38, 255);
}

.o {
    color: red;
}

.o2 {
    color: rgb(255, 208, 0);
}

.g {
    color: rgb(38, 38, 255);
}

.l {
    color: green;
}

.e {
    color: red;
}


form {
    display: flex;
    align-items: center;
    text-align: center;
}
  

.input {
  padding: 10px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  outline: none;
  min-width: 700px;
  height: 30px;
  margin-right: 60px;
}

.input::placeholder {
  color: #B1B1B1;
}

button[type="submit"] {
  position: relative;
}

.pagesearch {
    display: none;
}

.pageimages {
    display: none;
}

.btnThere {
    background-color: transparent;
    border: none;
    color: rgb(0, 119, 255);
    font-size: 20px;
    position: relative;
    padding-bottom: 5px;
    cursor: pointer;
    margin: 0 10px;

}

.btnNext {
    background-color: transparent;
    border: none;
    color: rgb(0, 119, 255);
    font-size: 20px;
    position: relative;
    padding-bottom: 5px;
    cursor: pointer;
    margin: 0 10px;
}

.btnThere::after {
    content: ''; 
    display: block; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    height: 3px; 
    background-color: #0074d9; 
}


nav {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 140px;
}

.enter {
    position: relative;
    right: 110px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
  
.glass {
    height: 30px;
    width: 30px;
}
  

.results {
    margin-left: 150px;
}

.gptSearch {
    padding-top: 10px;
    padding-left: 10px;
    background-color: rgb(231, 231, 231);
    border-radius: 30px;
    /* word-wrap: break-word; */
    max-width: 400px;
    min-width: 400px;
    min-height: 400px;
    float: right;
    position: absolute;
    top: 170px;
    left: 1000px;
}

.bot-message {
	background-color: #0059ff4b;
	max-width: 370px;
	color: white;
	border-radius: 20px 20px 20px 0;
	padding: 10px 10px 10px 10px;
}

.chat-message.bot-message {
    margin: 0 0 0 0;
}

.bot-message p {
    word-wrap: break-word;
}


.chat-input {
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.13);
	position: relative;
	align-items: center;
	text-align: center;
}

.messageGpt {
    width: 370px;
    font-size: 15px;
    padding: 20px;
    border: none;
    border-radius: 15px;
}

.messageholder {
    min-height: 300px;
}

.send {
    background-color: #4285f4;
    color: #fff;
    padding: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 10px
}


.avatars {
    height: 30px;
    width: 30px;
    border-radius: 20px;
}

.label {
    display: flex;
    align-items: center;
}

.link {
    margin-left: 5px;
}

.title {
    text-decoration: none;
}

.title:hover {
    text-decoration: underline;
}

.title {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

p {
    word-wrap: break-word;
    max-width: 70ch;
}

.images {
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1700px;
    margin: 0 auto;
    margin-top: 40px;
}



.image {
    width: calc(20% - 10px);
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.videos {
    margin-left: 100px;
}


.video {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  
  .video .preview img {
    width: 240px;
    height: 150px;
    border-radius: 40px;
    padding: 10px 10px 10px 10px;
  }
  
  .video .details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 60%;
  }
  
  .video .details a {
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
  }
  
  .video .details .description {
    flex: 1;
  }
  
  .video .details .description p {
    margin: 0;
    font-size: 14px;
  }
  
  .video .details .description .channel {
    color: #888;
  }
  
  


@media screen and (max-width: 767px) {
    .image {
        width: calc(33.3% - 10px);
    }
    
}
@media screen and (max-width: 480px) {
    .image {
        width: 100%;
    }
    
}


  