@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.Page {
  margin-top: 260px;
}

.Google span {
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
}

.Google {
  margin-left: 180px;
}

.G {
    color: rgb(38, 38, 255);
}

.o {
    color: red;
}

.o2 {
    color: rgb(255, 208, 0);
}

.g {
    color: rgb(38, 38, 255);
}

.l {
    color: green;
}

.e {
    color: red;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  outline: none;
  min-width: 700px;
  height: 30px;
  margin-right: 60px;
}

input[type="text"]::placeholder {
  color: #B1B1B1;
}


.enter {
  position: relative;
  right: 110px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.glass {
  height: 30px;
  width: 30px;
}

.error {
  height: 400px;
  width: 1300px;
}

.images {
  display: flex;
  flex-wrap: wrap;
}

.image {
  width: 33.3%;
  box-sizing: border-box;
  padding: 10px;
}

#page2 {
  display: none;
}

.imgBut {
  height: 50px;
  width: 50px;
  margin-right: 5px;
}



  